body{
    background-color: rgb(248, 220, 225);
}

header{
  background-color: white;
}

.img-logo{
  display: block;
  max-width: 45%;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  viewport-height;
    
}

.img-product{
  width: 50%;
}

h3 {
  color: black;
  font-size: 30px;
  margin-left: 20px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container1{
  display: flex;
  justify-content: center;
}

.container2{
  display:flex;
  flex-direction: row wrap;
  justify-content: flex-start;
  gap: 10px 20px;
}

.slideshow-container{
  width: 350px;
  position: absolute;
  transform: translate(-50%,50%);
  left: 50%;
  bottom: 40%;
  overflow: hidden;
  border: 10px solid #fffff;
  border-radius: 80px;
}

.text-container{
  background-color:rgb(131, 66, 66);
  opacity: 0.6;
  width: 30%;
  margin: auto;
  margin-top: 35%;
  border-radius: 20px;
}

.myslides{
  width: 200%;
  display: flex;
  animation: slide 8s infinite
  ;
}

.slideshow-container:hover .img-product{
  opacity: 0.3;
}

@keyframes slide{
  0%{
      transform: translateX(0);
  }
  25%{
      transform: translateX(-50%);
  }
  50%{
      transform: translateX(-100%);
  }
  100%{
      transform: translateX(-150%);
  }

  }

.text{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  align-items: center;
  width: auto;
  font-weight: 500;
}

ul{
  margin: 0;
  padding:0px;
  color: black;
  font-size: 20px;
}

ul li{
  list-style: none;
  padding: 2px;
}

ul li:before{
  content: '☁️';
  padding: 2px;
}




